.container {
    
    .box {
        width: 150px;
        height: 150px;
        border: 3px solid rgb(0, 0, 0);
        margin-left: 300px;
        margin-top: 192px;
        
        .door {
            
            width: 150px;
            height: 150px;
            background-color: rgb(255, 51, 0);  
            position: absolute;
            top: 403px;
            z-index: 2;
        }
        
        .img-cont {
            display: flex;
        }
        .cat {
            position: absolute;
            z-index: -1;
            width: 150px;
            height: 150px;
            transition: 1s;
        }
        .cat-moved {
            position: relative;
            width: 150px;
            height: 150px;
            animation: ani 1s forwards;
            @keyframes ani {
                0% {top: 0px;}
                100% {top: -150px;}
            }
        }
        .eye1 {
            position: relative;
            top: 60px;
            left: 40px;
            width: 18px;
            height: 8px;
            border-radius: 100px;
            border: 3px solid rgb(0, 0, 0);
            z-index: 1;
            float: left;

            .zra4ok1 {
                position: absolute;
                width: 3px;
                height: 3px;
                border: 2px solid greenyellow;
                background-color: greenyellow;
                border-radius: 10px;

            }
            .zra4ok1-b1 {
                position: absolute;
                left: -2px;
                top: -2px;
                width: 3px;
                height: 3px;
                border: 2px solid greenyellow;
                background-color: greenyellow;
                border-radius: 10px;
            }
            .zra4ok1-b2 {
                position: absolute;
                left: 3px;
                top: -2px;
                width: 3px;
                height: 3px;
                border: 2px solid greenyellow;
                background-color: greenyellow;
                border-radius: 10px;
            }
            .zra4ok1-b3 {
                position: absolute;
                left: 9px;
                top: -1px;
                width: 3px;
                height: 3px;
                border: 2px solid greenyellow;
                background-color: greenyellow;
                border-radius: 10px;
            }
        }
        .eye2 {
            float: right;
            position: relative;
            top: 60px;
            left: 55px;
            width: 18px;
            height: 8px;
            border-radius: 100px;
            border: 3px solid rgb(0, 0, 0);
            z-index: 1;
            .zra4ok2 {
                position: absolute;
                width: 3px;
                height: 3px;
                border: 2px solid greenyellow;
                background-color: greenyellow;
                border-radius: 10px;
            }
            .zra4ok2-b1 {
                position: absolute;
                left: -2px;
                top: -2px;
                width: 3px;
                height: 3px;
                border: 2px solid greenyellow;
                background-color: greenyellow;
                border-radius: 10px;
            }
            .zra4ok2-b2 {
                position: absolute;
                left: 3px;
                top: -2px;
                width: 3px;
                height: 3px;
                border: 2px solid greenyellow;
                background-color: greenyellow;
                border-radius: 10px;
            }
            .zra4ok2-b3 {
                position: absolute;
                left: 9px;
                top: -1px;
                width: 3px;
                height: 3px;
                border: 2px solid greenyellow;
                background-color: greenyellow;
                border-radius: 10px;
            }
        }
    }

    .button-summon {
        position: absolute;
        top: 450px;
        left: 1000px;
        height: 300px;
        width: 500px;

        
        .summon-text {
            font-size: 20px;
            margin-bottom: 20px;
            text-align: center;
            width: 200px;
            height: 80px;
            border: 3px solid black;
            border-radius: 5px;
        }

        .star {
            cursor: pointer;
            width: 230px;
            height: 200px;
            border-radius: 1000px;
            rotate: 10deg;
            background-image: url(../img/Без\ названия\ \(4\).jfif);
            transition: 0.3s;

            &:hover {
                transition: 0.3s;
                background-image: url(../img/Без\ названия\ \(4.hover\).png);
            }
        }
    }
    .b1 {
        width: 300px;
        height: 200px;
    }
    .b2 {
        width: 300px;
        height: 200px;  
    }
    .b3 {
        width: 300px;
        height: 200px;
    }
    .cont-inv {
        display: flex;
    }
}